header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: white;
}
span {
  color: #32c6f3;
}
#span1 {
  color: #ff7f00;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.menuhead {
  width: 50%;
}
.menuhead nav a {
  color: #b4b4b4;
  text-decoration: none;
  padding-right: 50px;
  font-size: 18px;
  position: relative;
}
.menuhead nav a:hover {
  color: white;
}
.menuhead nav a::after {
  content: " ";
  width: 0px;
  height: 4px;
  background-image: linear-gradient(45deg, #196075, #32c6f3);
  position: absolute;
  top: 25px;
  left: 0;
  transition: width 0.5s;
}
.menuhead nav a:hover::after {
  width: 30px;
}
